<?xml version="1.0" encoding="UTF-8" standalone="no"?><users><User id="1"><email>dasra@iscte-iul.pt</email><username>dasra</username><password>dasra123</password><service>BDA</service></User><User id="2"><email>diana.es.pl.91@gmail.com</email><username>dasra.es.pl.91@gmail.com</username><password>engenhariasoftware</password><service>Email</service></User><Filter keyword="ISCTE"/><Filter keyword="exame"/><Filter keyword="aula"/><Filter keyword="universidade"/><Filter keyword="disciplina"/><Filter keyword="projecto"/></users>